.Certification_Container{
  display: flex;
  flex-direction: column;
  font-family: var(--font-base);
}

.Certification_Cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 3rem;
}

.Certification_Card{

  width: 270px;
    flex-direction: column;
    margin: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: all 0.3sease;
    animation-duration: 300ms;
    transition-duration: 300ms;

  &:hover{
    filter: drop-shadow(0 3px 6px rgb(0 0 0 / 0.01)) drop-shadow(0 4px 8px rgb(0 0 0 / 0.2));
  }
  img{
    width: 15rem;
    max-height: 10rem;
    border-radius: 5px;
  }
  p{
    text-align: center;
    p{
      text-align: justify;
      font-size: 0.8rem;
      color: #6b7688;
      // text-align: start;
    }
    h4{
      padding: 10px 0px;
      font-family: var(--font-base);
    }
  }
  .Certification_Buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;

    button{
      padding: 10px 20px;
      border-radius: 5px;
      background-color: var(--secondary-color);
      border: none;
      color: white;
      font-family: var(--font-base);
      cursor: pointer;
      &:hover{
        background-color: #2532c1;
      }
    }
  }
}

